<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="harris.GiantBomb" android:versionName="1.8"
	android:versionCode="180">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:enabled="true" android:theme="@android:style/Theme.NoTitleBar">
		<meta-data android:name="android.app.default_searchable"
			android:value=".SearchList" />

		<activity android:name=".Tabs" android:label="@string/app_name"
			android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:name=".SearchList" android:label="Search">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity android:screenOrientation="landscape"
			android:excludeFromRecents="true" android:name=".VidPlayer">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".VideoList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".ForumList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".NewsList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".WebPlayer">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".ThreadPlayer">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".ReviewList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".BombcastList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".GBObjectViewer">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.giantbomb.com" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".DownloadView">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</activity>

		<activity android:excludeFromRecents="true" android:name=".Dashboard">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Preferences" android:label="Settings">
		</activity>

	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-library android:name="org.apache.commons.lang" />
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true" />


</manifest> 